/* CSS Document */
body {
  font-family: "Helvetica Neue", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

form {
  display: grid;
  grid-gap: 1vh;
  padding: 3vh;
  background-color: #fff;
  border-radius: 1vh;
  box-shadow: 0 0.2vh 0.8vh rgba(0, 0, 0, 0.05), 0 1vh 2vh rgba(0, 0, 0, 0.1);
}
header {
  background-color: #2196f3;
  color: #fff;
  padding:2vh;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: 100vh;
  font-size: 1.2rem;
  padding: 1vh;
  border-radius: 5vh;
  border: none;
  background-color: #f3f3f3;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0.02vh 0.08vh rgba(0, 0, 0, 0.1);
  border: 0.01vh solid #2196f3;
}

label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}
button[type="submit"] {
  display: inline-block;
  width: 100%;
  background-color: #2196f3;
  color: #fff;
  padding: 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 50vh;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1976d2;
}

button[type="submit"]:active {
  background-color: #1e88e5;
}
